# Python: Flow Control

Materials by: [John Blischak](https://github.com/jdblischak "GitHub") and other Software Carpentry instructors (Joshua R. Smith, Milad Fatenejad, Katy Huff, Tommy Guy and many more)

In this lesson we will cover howto automate repetitive tasks using loops.

# Loops
Loops come in two flavors: `while` and `for`.

In [1]:
fruits = ['apples', 'oranges', 'pears', 'bananas']
i = 0
while i < len(fruits):
    print fruits[i]
    i = i + 1

apples
oranges
pears
bananas

In [2]:
# What is the final value of i ?

# what happens if you initialize i=10? What will print?

In [3]:
# a for loop will pull the items out of your container, (one at a time)
# and put their values into the temporary variable fruit
for fruit in fruits:
    print fruit

apples
oranges
pears
bananas

In [4]:
# What is the current value of fruit?

In [5]:
## Just to be explicit
print fruits

for fruit in fruits:
    print fruit
print 'in the end fruit is ', fruit

['apples', 'oranges', 'pears', 'bananas']
apples
oranges
pears
bananas
in the end fruit is  bananas

### Looping - Reassignment

We ca use lists to calculate a running total

In [ ]:
# Calculating a sum
values = [1254, 95818, 61813541, 1813, 4]
sum = 0
for x in values:
    sum = sum + x
sum

or make a new list of something

In [50]:
values = [1, 2, 3, 4, 8, 9, 10]

small_values = []
for x in values:
    if x < 5:
        small_values.append(x)

what do you think is in `small_values`?

### Looping - Multiple Values

In [6]:
# While you could use range to get the index values for each fruit like this
for val in range(len(fruits)):
    print val, fruits[val]
    
## python has a better way using enumerate, which counts your items for you 
# and is more readable
print ## This will print a blank line
print 'Now using enumerate!!'
for val, current_fruit in enumerate(fruits):
    print val, current_fruit

0 apples
1 oranges
2 pears
3 bananas

Now using enumerate!!
0 apples
1 oranges
2 pears
3 bananas

In [7]:
# Use zip to iterate over two lists at once
fruits = ['apples', 'oranges', 'pears', 'bananas']
prices = [0.49, 0.99, 1.49, 0.32]
for fruit, price in zip(fruits, prices):
    print fruit, "cost", price, "each"

apples cost 0.49 each
oranges cost 0.99 each
pears cost 1.49 each
bananas cost 0.32 each

### Looping over dictionaries

There are several ways to loop through dictionaries. Note the order is non-deterministic.

In [59]:
d = {'apples': 0.49, 'oranges': 0.99, 'pears': 1.49, 'bananas': 0.32}

#default looping
for key in d:
    print key, d[key]

pears 1.49
apples 0.49
oranges 0.99
bananas 0.32

In general, it is recommended to use the simple `for key in dictionary` style. But looping over .keys() is necessary when mutating the dictionary:

In [66]:
#explicit looping over keys
for key in d.keys():
    d[key] = str(d[key])

d

{'apples': '0.49', 'bananas': '0.32', 'oranges': '0.99', 'pears': '1.49'}

In [61]:
#explicit looping over values
for val in d.values():
    print val

1.49
0.49
0.99
0.32

In [63]:
#explicit looping over values
for key, val in prices.items():
    print key, "cost", val, "each"

 pears cost 1.49 each
apples cost 0.49 each
oranges cost 0.99 each
bananas cost 0.32 each

## Short Exercise
Using a loop, calculate the factorial of 42 (the product of all integers up to and including 42).

## break, continue, and else

A break statement cuts off a loop from within an inner loop. It helps
avoid infinite loops by cutting off loops when they're clearly going
nowhere.

In [45]:
reasonable = 10
for n in range(1,2000):
    if n == reasonable :
        break
    print n

1
2
3
4
5
6
7
8
9

Something you might want to do instead of breaking is to continue to the
next iteration of a loop, giving up on the current one.

In [46]:
reasonable = 10
for n in range(1,20):
    if n == reasonable :
      continue
    print n

1
2
3
4
5
6
7
8
9
11
12
13
14
15
16
17
18
19

What is the difference between the output of these two?

# Longer Exercise: Convert Countries

### Motivation:

A social scientist is interested in country-level data. But the data she has is messy -- country names are not in a standardized format. For instance the United Kingdom is sometimes listed as "UK", "United Kingdom", or "Great Britain". The Unites States is sometimes listed "USA", "United States" or "United States of America". She wants to convert these countries from name to numerical code:
```
USA: 1
UK: 2
Germany: 3
```

She has too much data to do it manually. So she comes to you for help.

## Part 1:
Create a new list which has the converted numerical code for each country.

In [1]:
countries = ['USA', 'Great Britain', 'UK', 'Germany', 'United States']
countries_new = []
# Use your knowledge of if/else statements and loop structures below.

Check your work:

In [2]:
countries_new == [1, 2, 2, 3, 1]

False

## Part 2:
Sometimes there are errors and the country cannot be determined. Adapt your code from above to deal with this problem (in this example missing data is assigned NA for "Not Available").

In [ ]:
countries_w_missing = ['USA', 'NA','Great Britain', 'UK', 'Germany', 'United States','NA']
countries_w_missing_new = []
# The missing data should not be converted to a number, but remain 'NA' in the new list

Check your work:

In [ ]:
countries_w_missing_new == [1, 'NA', 2, 2, 3, 1, 'NA']